@using LibrarySystem.Web.Models.Departments
@using LibrarySystem.Web.Controllers
@using LibrarySystem.Departments.Dto

@model CreateOrEditDepartmentViewModel

@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Department/CreateOrEditDepartment.js" asp-append-version="true"></script>
    </environment>
}
<form name="CreateDepartmentForm" role="form" class="form-horizontal">


    <div class="modal-body">
        <label style="font-size:28px" class="col-md-3 col-form-label">Create Department</label>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group row required">
            <div class="col-12">
                <div class="col-sm-3 form-group">
                    <label class="col-md-3 col-form-label" for="Name">Name</label>
                    <input id="Name" type="text" name="Name" value="@Model.Name" class="form-control" required>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="save-button btn btn-success btn-sm">Save</button>
                    <button type="button" class="btn btn-secondary btn-sm cancel-button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>