@using LibrarySystem.Web.Models.BookCategories
@using LibrarySystem.Web.Controllers
@using LibrarySystem.BookCategories.Dto

@model CreateOrEditBookCategoryViewModel

@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/BookCategories/CreateOrEditBookCategory.js" asp-append-version="true"></script>
    </environment>
}
<form name="CreateBookCategoryForm" role="form" class="form-horizontal">


    <div class="modal-body">
        <label style="font-size:24px" class="col-md-3 col-form-label">CreateBookCategory</label>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group row required">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="col-md-3 col-form-label" for="Name">Name</label>
                        <input id="Name" type="text" name="Name" value="@Model.Name" class="form-control" required>
                    </div>
                </div>

                <div class="col-md-3 form-group row required">
                    <label for="BookCategoryDepartment" class="col-md-5 col-form-label">Department</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.DepartmentId, Model.ListDepartments.Select(d => new SelectListItem { Text = d.Name, Value = d.Id.ToString() }), "Select Department", new {@class = "form-control" })
                    </div>
                </div>
                <div class="container my-3">
                    <div class="col-md-12">
                        <button id="Submit" type="submit" name="Submit" class="save-button btn btn-primary btn-sm">Save</button>
                        <button id="Cancel" type="button" name="Cancel" class="btn btn-secondary btn-sm cancel-button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>