@using LibrarySystem.Web.Models.Borrowers
@using LibrarySystem.Web.Controllers
@using LibrarySystem.Borrowers.Dto

@model CreateOrEditBorrowersViewModel

@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Borrowers/CreateOrEditBorrower.js" asp-append-version="true"></script>
    </environment>
}
<form name="CreateBorrowerForm" role="form" class="form-horizontal">


    <div class="modal-body">
        <div>
            <h1 style="font-size:27px" class="col-md-3 col-form-label"><strong>Create Borrower</strong></h1>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="bg-opacity-5 py-2">
            <div class="form-validation">
                <div class="row g-1">
                    <div class="col-md-10 mb-10">
                        <div class="container tab-pane">
                            <div class="col-md-6 form-group row required">
                                <label for="BorrowDate" class="col-md-5 col-form-label">Borrow Date</label><br>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="BorrowDate" name="BorrowDate" value="@Model?.BorrowDate">
                                </div>
                            </div>
                            <div class="col-md-6 form-group row required">
                                <label for="ExpectedReturnDate" class="col-md-5 col-form-label">Expected Return Date</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="ExpectedReturnDate" name="ExpectedReturnDate" value="@Model?.ExpectedReturnDate">
                                </div>
                            </div>
                            @*<div class="col-md-6 form-group row required">
                                <label for="ReturnDate" class="col-md-5 col-form-label">Return Date</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" id="ReturnDate" name="ReturnDate" value="@Model?.ReturnDate">
                                </div>
                            </div>*@
                            <div class="col-md-6 form-group row required">
                                <label for="Books" class="col-md-5 col-form-label">Books</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.BookId, Model.Books.Select(d => new SelectListItem { Text = d.BookTitle = d.Id.ToString() }), "Select Book Title", new {@class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6 form-group row required">
                                <label for="Students" class="col-md-5 col-form-label">Students</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.StudentId, Model.Students.Select(d => new SelectListItem { Text = d.StudentName = d.Id.ToString() }), "Select Student Name", new {@class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container my-3">
                    <div class="col-md-12">
                        <button id="Cancel" type="button" name="Cancel" class="cancel-button btn btn-primary">Cancel</button>
                        <button id="Submit" type="submit" name="Submit" class="save-button btn bg-secondary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>